VOAT_LOGIN_ID=your_login_id_here
VOAT_PASSWORD=your_password_here
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
SPREADSHEET_ID=1vwLDxLeLrUb6icuYU9M0w4feTPpNf_mPxRItHSS30s4
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_ADMIN_USER_ID=U1c94008254a2d065c85b9eed253ccf12


